/* 在你的 CSS 文件中，例如 jetbrainsmono-fonts.css */

/* 常规样式 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 斜体样式 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* 粗体样式 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* 粗体斜体样式 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

/* 特粗体样式 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2');
  font-weight: 800; /* 或者使用相应的数值表示特粗体 */
  font-style: normal;
}

/* 特粗体斜体样式 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2');
  font-weight: 800; /* 或者使用相应的数值表示特粗体 */
  font-style: italic;
}

/* 中等粗细斜体样式 */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2');
  font-weight: 500; /* 中等粗细通常对应数值 500 */
  font-style: italic;
}